@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: #cd492b;
}

.link {
  color: #cd492b;
}

.link:hover {
  color: rgb(50, 50, 50);
}

.title {
    font-family: 'Staatliches', 'cursive';
    font-size: 60px;
    color: white;
}

.home-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: rgb(50, 50, 50);
}
.home-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: rgb(50, 50, 50);
}

.find-text {
  font-family: 'Staatliches', 'cursive';
  font-size: 35px;
  color: white;
  text-align: center;
}

.gem-name {
  font-family: 'Staatliches', 'cursive';
  font-size: 40px;
  color: rgb(50, 50, 50);
}


.gem-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: rgb(50, 50, 50);
}

#label {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
}